Repository Wikia/post-quecast: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix

fix: change source input type to PostMessageEvent
  src/rxjs/map-action.spec.ts
  src/rxjs/map-action.ts
  src/rxjs/only-private.spec.ts
  src/rxjs/only-private.ts
  src/rxjs/only-public.spec.ts
  src/rxjs/only-public.ts
Due: prettier --write, tslint --fix

refactor: rename emit to dispatch
  README.md
  src/communicator.spec.ts
  src/communicator.ts
  src/transmitter.spec.ts
  src/transmitter.ts
Due: prettier --write, tslint --fix

chore(package.json): fix repository url
  package.json
Due: prettier --write

chore(deps): add renovate.json
  renovate.json
Due: prettier --write

docs(readme.md): update badges
  README.md
Due: none

chore(deps): pin dependencies
  package.json
Due: prettier --write

chore(deps): update dependency source-map-support to v0.5.16
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency tslint to v5.20.1
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency prettier to v1.19.1
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency husky to v3.1.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency coveralls to v3.0.9
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency lint-staged to v9.5.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update node.js to v10.17.0
  .nvmrc
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency rollup-plugin-uglify to v6.0.4
  package-lock.json
  package.json
Due: prettier --write

chore: update node support to 12 and 10
  .nvmrc
  .travis.yml
  package-lock.json
  package.json
Due: prettier --write

docs: add API and Good Practices sections
  README.md
  docs/README.md
Due: none

chore(deps): update dependency semantic-release to v15.14.0
  package-lock.json
  package.json
Due: prettier --write

feat(setup.ts): make setup idempotent
  src/setup/setup.spec.ts
  src/setup/setup.ts
Due: prettier --write, tslint --fix

chore(deps): update dependency rollup-plugin-sourcemaps to v0.5.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency ts-jest to v24.3.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency ts-node to v8.6.2
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update commitlint monorepo
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency @types/jest to v24.9.1
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency rollup-plugin-typescript2 to v0.26.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency husky to v4
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency semantic-release to v17
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency rollup to v1.32.1
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency typescript to v3.8.3
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency lint-staged to v10
  package-lock.json
  package.json
Due: prettier --write

feat: use rxjs to send messages within coordinator host #ADEN-9976
  .lintstagedrc
  jest.config.js
  package-lock.json
  package.json
  src/communicator.spec.ts
  src/communicator.ts
  src/connectors/is-rx-mode.spec.ts
  src/connectors/is-rx-mode.ts
  src/connectors/listener.spec.ts
  src/connectors/listener.stub.ts
  src/connectors/listener.ts
  src/connectors/sender.spec.ts
  src/connectors/sender.stub.ts
  src/connectors/sender.ts
  src/models/constants.ts
  src/models/host.stub.ts
  src/models/host.ts
  src/receiver.spec.ts
  src/receiver.ts
  src/rxjs/map-action.ts
  src/rxjs/of-event-type.ts
  src/rxjs/of-type.ts
  src/rxjs/only-external.ts
  src/rxjs/only-new.ts
  src/rxjs/only-of-channel.ts
  src/rxjs/only-private.ts
  src/rxjs/only-public.ts
  src/rxjs/only-valid-messages.ts
  src/rxjs/rxjs-operator.ts
  src/setup/channel.spec.ts
  src/setup/channel.ts
  src/setup/coordinator.spec.ts
  src/setup/coordinator.ts
  src/setup/setup.spec.ts
  src/setup/setup.ts
  src/transmitter.spec.ts
  src/transmitter.ts
  tslint.json
Due: prettier --write, tslint --fix

Notes added by 'git notes add'
  907b88264bb870abe1e443036da82b2fa646f30a
Due: none

chore: add example pages and e2e tests #ADEN-10072
  .travis.yml
  examples/README.md
  examples/common/creators/communicator-creator.ts
  examples/common/creators/communicator-table.ts
  examples/common/creators/communicator.ts
  examples/common/creators/transmitter-creator.ts
  examples/common/creators/transmitter.ts
  examples/common/parser.ts
  examples/common/read-form-values.ts
  examples/common/reference-object.ts
  examples/iframe-full/index.html
  examples/iframe-full/index.ts
  examples/iframe-lite/index.html
  examples/iframe-lite/index.ts
  examples/main/index.html
  examples/main/index.ts
  examples/tsconfig.dist.json
  examples/tsconfig.json
  examples/webpack.config.js
  package-lock.json
  package.json
  rollup.config.js
  test/pages/communicator-page.ts
  test/pages/example-page.ts
  test/pages/site.ts
  test/pages/transmitter-page.ts
  test/specs/actions-history.test.ts
  test/specs/iframe-communication.test.ts
  test/specs/setup-post-quecast.test.ts
  test/tsconfig.json
  test/tslint.json
  test/wdio-headless.conf.js
  test/wdio.conf.js
  tsconfig.json
Due: prettier --write, tslint --fix

refactor: remove unnecessary try catch
  src/connectors/sender.spec.ts
  src/connectors/sender.ts
Due: prettier --write, tslint --fix

chore: update wdio to v6
  .travis.yml
  package-lock.json
  package.json
  test/tsconfig.json
  test/wdio.conf.js
Due: prettier --write

chore: remove jest-matchers
  package-lock.json
  package.json
  test/tsconfig.json
  test/wdio.conf.js
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.{js,json,css,scss,html})
  tslint --fix: any of: *.ts
