Repository Wikia/post-quecast: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix

.lintstagedrc:

{
  "*.ts": [
    "prettier --write",
    "tslint --fix",
    "git add"
  ],
  "*.{js,json,css,scss,html}": [
    "prettier --write",
    "git add"
  ]
}

chore: remove jest-matchers
  package-lock.json
  package.json
  test/tsconfig.json
  test/wdio.conf.js
Due: prettier --write

chore: update wdio to v6
  .travis.yml
  package-lock.json
  package.json
  test/tsconfig.json
  test/wdio.conf.js
Due: prettier --write

chore(deps): update dependency commitizen to v4.1.2
  package-lock.json
  package.json
Due: prettier --write

chore: add tests for two main instances
  examples/common/creators/communicator-creator.ts
  examples/common/creators/transmitter-creator.ts
  examples/iframe-full/index.html
  examples/iframe-full/index.ts
  examples/iframe-lite/index.html
  examples/iframe-lite/index.ts
  examples/main/index-1.ts
  examples/main/index-2.ts
  examples/main/index.html
  examples/main/index.ts
  examples/main/make-main.ts
  examples/webpack.config.js
  test/pages/example-page.ts
  test/pages/site.ts
  test/specs/actions-history.test.ts
  test/specs/iframe-communication.test.ts
  test/specs/setup-post-quecast.test.ts
  test/specs/two-mains.test.ts
Due: prettier --write, tslint --fix

chore: separate unit tests into projects
  README.md
  addons/README.md
  addons/rxjs/of-type.ts
  addons/rxjs/only-new.ts
  addons/rxjs/rx-communicator.spec.ts
  addons/rxjs/rx-communicator.ts
  addons/tsconfig.json
  jest.config.js
  src/index.spec.ts
  src/models/host.ts
Due: prettier --write, tslint --fix

chore: add support for prerelease
  .travis.yml
Due: none

Notes added by 'git notes add'
  e533e78a53ef4ee0702bb4430e82e2ec2306795d
Due: none

chore: add vanilla dispatchAction addon
  .prettierignore
  addons/README.md
  addons/rxjs/README.md
  addons/tsconfig.json
  addons/vanilla/README.md
  addons/vanilla/dispatch-action.js
  addons/vanilla/dispatch-action.spec.ts
  jest.config.js
  src/models/host.stub.ts
Due: prettier --write, tslint --fix

Notes added by 'git notes add'
  f8a7e9b4f1186810f1a4da77da65f37bd0af3340
Due: none

fix: fix removeListener concurrency issue
  src/connectors/connectors.ts
  src/models/host.stub.ts
  src/receiver.spec.ts
  src/receiver.ts
Due: prettier --write, tslint --fix

chore: update dependencies
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  eb7c945e56c9c139b00854f54bb71323bbf15bfc
Due: none

chore(deps): pin dependencies
  package.json
Due: prettier --write

Notes added by 'git notes add'
  3aec7f77b74efeaefd47285cf4cc5b4ca7737a5b
Due: none

Export PostQuecastOptions
  src/index.ts
Due: prettier --write, tslint --fix

chore(deps): update dependency dot-prop to 4.2.1 [security]
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency ini to 1.3.6 [security]
  package-lock.json
Due: prettier --write

chore(deps): update dependency lodash to 4.17.19 [security]
  package-lock.json
Due: prettier --write

chore(deps): update dependency node-fetch to 2.6.1 [security]
  package-lock.json
Due: prettier --write

chore(deps): update dependency y18n to 4.0.1 [security]
  package-lock.json
Due: prettier --write

chore(deps): update dependency yargs-parser to 13.1.2 [security]
  package-lock.json
Due: prettier --write

chore(deps): update dependency merge to 2.1.1 [security]
  package-lock.json
Due: prettier --write

chore(deps): update dependency lint-staged to v10.5.4
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency rollup-plugin-typescript2 to v0.30.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update webdriverio monorepo
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update commitlint monorepo to v12
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency husky to v6
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency lint-staged to v11
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency mocha to v8.4.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency @types/jest to v26.0.23
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency prettier to v2.3.1
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency rxjs to v7
  package-lock.json
  package.json
Due: prettier --write
